# Model - SVC <br> Hyperparameter optimizer - GridSearchCV <br> Dataset - Advertising

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/krishnaik06/GRIDSearchCV/master/Advertising_data.csv")
data.head(4)

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0

In [4]:
data = data.drop(["User ID"], axis = 1)

dum_data = pd.get_dummies(data["Gender"], drop_first = True)

data = pd.concat([dum_data, data], axis = 1)
data = data.drop(["Gender"], axis =1 )
data.head()

    Age  EstimatedSalary  Purchased  Male
0  19.0          19000.0          0     1
1  35.0          20000.0          0     1
2  26.0          43000.0          0     0
3  27.0          57000.0          0     0
4  19.0          76000.0          0     1

In [6]:
X = data[["Age","EstimatedSalary","Male"]]
y = data["Purchased"]

In [9]:
# Feature scaling
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
X = pd.DataFrame(std.fit_transform(X))

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 5)

In [15]:
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score

model = SVC(kernel = "linear", random_state = 0)
model.fit(X_train, y_train)
 
y_pred = model.predict(X_test)

cm = confusion_matrix(y_test, y_pred)
print(cm)

score = accuracy_score(y_test, y_pred)
print(score)

In [19]:
# Hyper pparameter tuning using GridSearchCV
from sklearn.model_selection import GridSearchCV

parameters = [{'C': [1, 10, 100, 1000], 'kernel': ['linear']},
              {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]

grid_search = GridSearchCV(estimator = model,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10,
                           n_jobs = -1)

grid_search = grid_search.fit(X_train, y_train)
accuracy = grid_search.best_score_

print("Accuracy after hyperparam tuning :", round((accuracy*100),2))

C:\Users\Divya\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [25]:
# To know the best parameters of our model

grid_search.best_params_

{'C': 10, 'gamma': 0.4, 'kernel': 'rbf'}

In [27]:
#  Lets apply the best parameters and build a model

from sklearn.svm import SVC

model = SVC(kernel = "rbf", C = 10 , gamma = 0.4)
model.fit(X_train, y_train)
 
y_pred = model.predict(X_test)

cm = confusion_matrix(y_test, y_pred)
print(cm)

score = accuracy_score(y_test, y_pred)
print(score)

print("\n Accuracy after hyperparam tuning :", round((score*100),2))

[[49  4]
 [ 2 25]]
0.925

 Accuracy after hyperparam tuning : 92.5

In [28]:
data1 = pd.read_csv("https://raw.githubusercontent.com/krishnaik06/GRIDSearchCV/master/Advertising_data.csv")
data1.head(4)

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0

In [29]:
data1.drop(["User ID"], axis = 1, inplace = True)

In [44]:
from sklearn.preprocessing import OneHotEncoder

onehot = OneHotEncoder(drop = "first")
data1["Gender"] = onehot.fit_transform(data1.Gender.values.reshape(-1,1)).toarray() #data1["Gender"]).to_array()

data1.head()

   Gender   Age  EstimatedSalary  Purchased
0     1.0  19.0          19000.0          0
1     1.0  35.0          20000.0          0
2     0.0  26.0          43000.0          0
3     0.0  27.0          57000.0          0
4     1.0  19.0          76000.0          0